<p>Playing as {{username}}</p>

<hr>
  {{#each userVote in userAndVotes}}
    {{userVote.username}}
    {{#if showResult}}
      {{userVote.value}}
    {{else}}
      {{#if userVote.hasVoted}}
        yes
      {{else}}
        no
      {{/if}}
    {{/if}}
  {{/each}}
<hr>


<button {{action 'resetVotes'}}>Reset votes</button>
<button {{action 'showResult'}}>Show Result</button>


<h3>Vote!</h3>
{{#if hasVoted}}
<p>Already voted...</p>
{{else}}
  {{#each value in voteValues}}
    <button {{action "vote" value}}>{{value}}</button>
  {{/each}}
{{/if}}
