<h2>game: {{name}}</h2>
<p>playing as {{input value=username}}</p>

<h3>online users</h3>
<ul>
{{#each user in users}}
  <li>{{user}}</li>
{{/each}}
</ul>

<button {{action 'resetVotes'}}>Reset votes</button>


<h3>Vote!</h3>
{{#each value in voteValues}}
  <button {{action "vote" value}}>{{value}}</button>
{{/each}}


<ul>
{{#each vote in votes}}
  <li>{{vote.value}} - {{vote.username}}</li>
{{/each}}
</ul>
