<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3><small>Planning</small> {{name}}</h3>
  </div>
</div>

{{#if username}}
  {{outlet}}
{{else}}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group">
        {{input value=newName action="newName" class="form-control" placeholder="Your name"}}
      </div>
      <button {{action 'newName'}} class="btn btn-default btn-block">Join game</button>
    </div>
  </div>
{{/if}}
